html {
  font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.2em;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgb(184, 182, 87 );
}

.line {
  border-bottom: 3px solid rgb(115, 115, 114);
}

.text-color1 {
  color: skyblue
}

.text-color2 {
  color: rgb(225, 192, 203)
}

#basic {
  font-weight: bold;
}
